<a href="https://colab.research.google.com/github/a-nagar/vistra-beginner/blob/main/kNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing


df = pd.read_csv("https://an-utd-python.s3.us-west-1.amazonaws.com/congress_votes.csv")

# See data details at https://archive.ics.uci.edu/ml/datasets/congressional+voting+records

In [ ]:
df

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,republican,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y
431,democrat,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y
432,republican,n,?,n,y,y,y,n,n,n,n,y,y,y,y,n,y
433,republican,n,n,n,y,y,y,?,?,?,?,n,y,y,y,n,y
434,republican,n,y,n,y,y,y,n,n,n,y,n,y,y,y,?,n

In [ ]:
from sklearn.model_selection import train_test_split


# Create arrays for the features and the response variable
y = df['party']
X = df.drop('party', axis=1)
le = preprocessing.LabelEncoder()
X = X.apply(le.fit_transform)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
X

,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,1,2,1,2,2,2,1,1,1,2,0,2,2,2,1,2
1,1,2,1,2,2,2,1,1,1,1,1,2,2,2,1,0
2,0,2,2,0,2,2,1,1,1,1,2,1,2,2,1,1
3,1,2,2,1,0,2,1,1,1,1,2,1,2,1,1,2
4,2,2,2,1,2,2,1,1,1,1,2,0,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,1,1,2,2,2,2,1,1,2,2,1,2,2,2,1,2
431,1,1,2,1,1,1,2,2,2,2,1,1,1,1,1,2
432,1,0,1,2,2,2,1,1,1,1,2,2,2,2,1,2
433,1,1,1,2,2,2,0,0,0,0,1,2,2,2,1,2
434,1,2,1,2,2,2,1,1,1,2,1,2,2,2,0,1

In [ ]:
y

0      republican
1      republican
2        democrat
3        democrat
4        democrat
          ...
430    republican
431      democrat
432    republican
433    republican
434    republican
Name: party, Length: 435, dtype: object

In [ ]:
# Create a k-NN classifier with 6 neighbors
knn = KNeighborsClassifier(n_neighbors=6)

In [ ]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=6)

In [ ]:
pred = knn.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, accuracy_score
print(accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

0.9305555555555556
              precision    recall  f1-score   support

    democrat       0.95      0.95      0.95        97
  republican       0.89      0.89      0.89        47

    accuracy                           0.93       144
   macro avg       0.92      0.92      0.92       144
weighted avg       0.93      0.93      0.93       144

## Cuisines Dataset

In [ ]:
cuisines_df = pd.read_csv("https://an-utd-python.s3.us-west-1.amazonaws.com/cuisines.csv")
cuisines_df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
cuisines_label_df = cuisines_df['cuisine']
cuisines_feature_df = cuisines_df.drop(['Unnamed: 0', 'cuisine'], axis=1)
cuisines_feature_df.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(cuisines_feature_df, cuisines_label_df, test_size=0.33, random_state=42)

In [ ]:
 # Create a k-NN classifier with 6 neighbors
knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     chinese       0.63      0.65      0.64       254
      indian       0.81      0.87      0.84       268
    japanese       0.63      0.81      0.71       258
      korean       0.89      0.52      0.66       265
        thai       0.74      0.77      0.76       274

    accuracy                           0.72      1319
   macro avg       0.74      0.72      0.72      1319
weighted avg       0.74      0.72      0.72      1319

## Work on the cars mpg dataset

In [ ]:
cars = pd.read_csv("https://an-vistra.s3.us-west-1.amazonaws.com/data/auto-mpg.csv")

## Pipelines

Pipelines create a series of steps that can be run one after the other, without having to wait for individual steps to terminate.

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_neighbors=6))])
# The pipeline can be used as any other estimator
# and avoids leaking the test set into the train set
pipe.fit(X_train, y_train)

pipe.score(X_test, y_test)

0.7240333586050038

# GridSearch with Cross-Validation

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

knn = KNeighborsClassifier()

params = {'n_neighbors': [3, 5, 7, 9]}  

grid = GridSearchCV(knn, params, cv=10, scoring='accuracy', return_train_score=False)
grid.fit(X_train, y_train)

print(grid.best_params_)
# find best model score
print(grid.score(X_train, y_train))

{'n_neighbors': 3}
0.8647234678624813

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

knn_pipe = Pipeline([('mms', MinMaxScaler()),
                     ('knn', KNeighborsClassifier())])


params = [{'knn__n_neighbors': [3, 5, 7, 9],
         'knn__weights': ['uniform', 'distance']}]

gs_knn = GridSearchCV(knn_pipe,
                      param_grid=params,
                      scoring='accuracy',
                      cv=5)
gs_knn.fit(X_train, y_train)
print(gs_knn.best_params_)
# find best model score
print(gs_knn.score(X_train, y_train))

{'knn__n_neighbors': 3, 'knn__weights': 'distance'}
0.9659940209267563

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt_pipe = Pipeline([('mms', MinMaxScaler()),
                     ('dt', DecisionTreeClassifier())])
params = [{'dt__max_depth': [3, 5, 7, 9],
         'dt__min_samples_leaf': [2, 3, 5]}]
         
gs_dt = GridSearchCV(dt_pipe,
                      param_grid=params,
                      scoring='accuracy',
                      cv=5)
gs_dt.fit(X_train, y_train)
print(gs_dt.best_params_)
# find best model score
print(gs_dt.score(X_train, y_train))

{'dt__max_depth': 9, 'dt__min_samples_leaf': 3}
0.6584454409566517

# Tune parameters of Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

rf = RandomForestClassifier()

params = {'max_depth': [3, 5, 7, 9], 
          'n_estimators': [50, 100, 200],
          'max_features': ['sqrt', 'log2']
          }  

grid = GridSearchCV(rf, params, cv=10, scoring='accuracy', return_train_score=False)
grid.fit(cuisines_feature_df, cuisines_label_df)

print(grid.best_params_)
# find best model score
print(grid.score(X_train, y_train))

{'max_depth': 9, 'max_features': 'log2', 'n_estimators': 1000}
0.8112855007473841